<h1> <%= @blogger.name %> </h1>

<div>
<p> <%= @blogger.total_likes %> total likes</p>
<h3> Featured posts: <h3>
<ul>
<% @blogger.most_likes.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
    <br>
<% end %>
</ul>
</div>

<div>
<h5>Other posts</h5>
    <% @blogger.posts.each do |p|%>
      <h6>  <%= link_to p.title, post_path(p)%>  </h6>
    <% end %>
</div>