* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  list-style: none;
}
body {
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
}

header ul{
  background-color: rgb(205, 255, 255);
  padding: 0 5vw;
  display: block;
  height: 5vh;
}
header ul li, header ul li a {
  display: inline;
}
header a {
  padding:2.5vh 10vw;
}
header a:hover {
  color: rgb(205, 205, 255)
}

div{
  margin: 2.5% 10%;
  padding: 5%;
  background-color: rgb(205, 255, 255);
  background-color: #ffffff;
}

h1 {
  text-indent: 5px;
  letter-spacing: 5px;
  color:rgb(205, 205, 255);
  text-transform: uppercase;
  padding-top: 7vh;
}

a {
  color: #444444;
  transition: .5s;
  text-decoration: none;
}

a:hover {
  color: rgb(113, 255, 255);
}


input[type=submit] {
  transition: .5s;
  border: none;
  background-color: rgb(255, 205, 187);

  /* border-radius: 10%; */
  padding: 1% 5%;
  letter-spacing: 5px;
  text-indent: 5px;
  text-align: center;
  text-transform: uppercase;
}
input:hover {
  padding: 2% 6%;
  background-color: coral;
}

footer {
  font-size: 8px;
  letter-spacing: 3px;
  width: 100vw;
  height: 10vh;
  background-color: rgb(205, 255, 255);
}
footer p {
  text-align: left;
  padding-left: 10%;
  padding-top: 2.5%;

}